Task 1

Revision of collection basics

In [ ]:
string1='Let us discuss collections'
print(type(string1))
print(string1)
print(string1[2])
# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
#string1[2]='ts' #this line returns error



list1=[1,'Apple',200, 20.5,True,0]
#this is a list of values, lists are mutable
print(type(list1))
print(list1[2])
list1[2]='Two'
print(list1)


tuple1=(1,'ball',459, 2.89,True,0) #tuples are similar to list, but immutable
print(type(tuple1))
print(tuple1[2])
# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
#tuple1[2]='four five nine' #this line returns error
print(tuple1)

set1={24,24,2,2,3,4,24,'Apple','boy'} # sets are similar to sets in mathematcis, and  mutable. Sets do not have index.
print(type(set1))
print(set1) #returns only the distinct values
# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
#print(set1[1])
#No meaningful index for elements:
#Since there's no order, you can't use an index to retrieve a specific element.


dict1={'Name':'Shyam', 'age':30, 'shift':'second', 'married':'no'}
print(type(dict1))
print(dict1)
print(dict1['shift'])
# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
#print(dict1['Shift']) #gives error as key with capital 'S' in Shift not found

# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
#print(dict1[0]) #error, dictionaries are not indexable

<class 'str'>
Let us discuss collections
t
<class 'list'>
200
[1, 'Apple', 'Two', 20.5, True, 0]
<class 'tuple'>
459
(1, 'ball', 459, 2.89, True, 0)
<class 'set'>
{2, 3, 4, 'boy', 24, 'Apple'}
<class 'dict'>
{'Name': 'Shyam', 'age': 30, 'shift': 'second', 'married': 'no'}
second

Task 2

WAP which accepts 10 numbers from the user, and adds them all to a list.

In [ ]:
a = int(input("Enter the total number of elements you want in the list."))
c = []
for i in range(a):
  b = int(input("Enter the elements of the list."))
  c.append(b)
#print(c)
import numpy as np
d = np.array(c)
#print(d)
print(f"maximum value {np.min(d)}")
print(f"minimum value {np.max(d)}")
e = list(d)
#print(e)
e[5]= 21
print(f"list after inserting 21 at 5th index {e}")
count = 0
for j in e:
  if e[5] == j:
    count = count + 1
print(f"count of element value at index 5 {count}")
adds = 0
for k in e :
  adds = adds + k
print(f"Sum of all elements of the list {adds}")
f = e.pop(6)
#print(f)
print(f"After popping element at index 6 {e}")
g = [22,31,45,67,89]
e.extend(g)
print(f"After adding provided elements to list {e}")
print(f"Index of 22 {e.index(22)}")
h = e.pop()
print(f"square of last element popped {h*h}")
print(f"list after popping last element {e}")
print(f"4th last value {e[-4]}")
print(f"values between 3rd and 6th position {e[3:7]}")

Enter the total number of elements you want in the list.10
Enter the elements of the list.10
Enter the elements of the list.20
Enter the elements of the list.30
Enter the elements of the list.40
Enter the elements of the list.60
Enter the elements of the list.70
Enter the elements of the list.80
Enter the elements of the list.90
Enter the elements of the list.100
Enter the elements of the list.110
[10, 20, 30, 40, 60, 70, 80, 90, 100, 110]
[ 10  20  30  40  60  70  80  90 100 110]
maximum value 10
minimum value 110
list after inserting 21 at 5th index [10, 20, 30, 40, 60, 21, 80, 90, 100, 110]
count of element value at index 5 1
Sum of all elements of the list 561
After popping element at index 6 [10, 20, 30, 40, 60, 21, 90, 100, 110]
After adding provided elements to list [10, 20, 30, 40, 60, 21, 90, 100, 110, 22, 31, 45, 67, 89]
Index of 22 9
square of last element popped 7921
list after popping last element [10, 20, 30, 40, 60, 21, 90, 100, 110, 22, 31, 45, 67]
4th last value 22
values between 3rd and 6th position [40, 60, 21, 90]

Task 3

Working with tuples WAP which accepts 10 numbers from the user, and adds them all to a list.

Perform the below actions on the list,

Create a tuple from the list of numbers
Print the Maximum and Minimum Value in the tuple
Print the no. of occurance of element at index 5
Print the Sum of all the numbers in the tuple
Print the index of value returned at step 3
Print the 4th last value
Print the values in between 3rd and 6th position

In [ ]:
a = []
for i in range(11):
  b = int(input())
  a.append(b)
#print(a)
c = tuple(a)
#print(c)
d = c[0]
for j in c :
  if j > d:
    d = j
print(f"maximum value {d}")
e = c[0]
for k in c :
  if k < e:
    e = k
print(f"minimum value {e}")
count = 0
for l in c:
  if c[5] == l:
    count = count + 1
print(f"count of element value at index 5 {count}")
adds = 0
for m in c :
  adds = adds + m
print(f"Sum of all elements of the list {adds}")
print(f"Index of num {c.index(6)}")
print(f"4th last value {c[-4]}")
print(f"values between 3rd and 6th position {c[3:7]}")

1
2
34
5
6
6
7
8
9
10
11
[1, 2, 34, 5, 6, 6, 7, 8, 9, 10, 11]
(1, 2, 34, 5, 6, 6, 7, 8, 9, 10, 11)
maximum value 34
minimum value 1
count of element value at index 5 2
Sum of all elements of the list 99
Index of num 4 4
4th last value 8
values between 3rd and 6th position (5, 6, 6, 7)