In [ ]:
# wap to get 2 number between 1 to 10 whose sum is 12 using while loop .
n1 = 2
count = 0
while n1 < 11 :
  sum = 12
  n2 = sum - n1
  print(f"{n1},{n2}")
  n1 = n1 + 1
  count = count + 1
print(count)

2,10
3,9
4,8
5,7
6,6
7,5
8,4
9,3
10,2
9

In [ ]:
# wap to get 2 number between 1 to 10 whose sum is 12 using for loop .
count = 0
for i in range(2,11):
  if i < 11:
    sum = 12
    n = sum - i
    print(f"{i},{n}")
    count = count + 1
print(count)

2,10
3,9
4,8
5,7
6,6
7,5
8,4
9,3
10,2
9

--------------- Data types----------------

In [ ]:
# --------- list ------------
# list :
#        access value through index, it allows duplicate, mutable, ordered.
# take an input from the user for a list

list = []
# now we require the length of the list and the elements of the list so
n = int(input("Enter the number of elements you want in the list : "))
#itterating till the range
for i in range(0,n):
  elements = int(input("Elements of the list : "))
  #adding elements to the list
  list.append(elements)

print(list)
print(type(list))

print()

# mutability in the list.
l1 = [1,2,3,1,3]
print(l1)
l1[3] = 9
print(l1)

Enter the number of elements you want in the list : 1
Elements of the list : 2
[2]
<class 'list'>

[1, 2, 3, 1, 3]
[1, 2, 3, 9, 3]

In [ ]:
# --------- Tuple ------------
# Tuple :
#        access value through index, it allows duplicate, not mutable, ordered.
t1 = (1,2,2,2,3,1,4,5,6,9,7)
print(type(t1))
print(t1)
# The variable that are never to be modified are stored like bank account number.
weekdays = ("Sunday","Monday","Tuesday","Wednesday","Thursday","friday","saturay")
print(weekdays[:4])
print(weekdays[-1])
if "Monday" in weekdays:
  print("Monday is present")

# type casting and bellow two programs are done in tuple is done w2d2 last program.
# update tuple ? == NO
# workaround : convert to list , update , Conver back to tuple
#how to delete a value in tuple
p = (1,23,6,4,5,8,7445,566512)
print(p)
del(p)# tuple p is deleted.

<class 'tuple'>
(1, 2, 2, 2, 3, 1, 4, 5, 6, 9, 7)
('Sunday', 'Monday', 'Tuesday', 'Wednesday')
saturay
Monday is present
(1, 23, 6, 4, 5, 8, 7445, 566512)

In [ ]:
# ----------- SET ------------
# set :
#       cannot access value through index,
#         doesnot allow duplicates,
#           mutable,
#             not ordered
s1 = {1,2,3,4,5,6,7}
for i in s1:
  print(i)
# add elements to a set : add
print("Enter 3 user name")
user_name = {"iop", "kk", "ll"}
for i in range(3):
  name = input()
  user_name.add(name)  # here it is add insted of append because elements are unique and not in order.
print(user_name)
# removing a element from a list
s1.remove(5)
print(s1)

1
2
3
4
5
6
7
Enter 3 user name
4
6
6
{'4', 'iop', 'll', '6', 'kk'}
{1, 2, 3, 4, 6, 7}

In [ ]:
# remove an element from the set with out using remove function .
set1 = set()
length_set = int(input("Enter the number of elements u want in the set:"))
for i in range(length_set):
  elements = int(input("Enteer the elements in the set :"))
  set1.add(elements)
print(set1)

targeted_element = int(input("Enter the element u want to remove from the set:"))
set2 = set()
for i in set1:
    if i != targeted_element :
      set2.add(i)
print(set2)

Enter the number of elements u want in the set:5
Enteer the elements in the set :4
Enteer the elements in the set :2
Enteer the elements in the set :3
Enteer the elements in the set :6
Enteer the elements in the set :5
{2, 3, 4, 5, 6}
5
{2, 3, 4, 6}

In [ ]:
 # remove duplicates from a list and print
lst1 = [7,8,7,5,6,4,3,2,2,6,5,]
st = set(lst1)
nst = list(st)
print(nst)

# here the conversion of list to set and set again to list is also done as bellow .
lst2 = [7,8,7,5,6,4,10,45,56,3,2,2,6,5,]
lst2 = list(set(lst2)) # here is the one line code.
print(lst2)

[2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7, 8, 10, 45, 56]

In [ ]:
# wap to remove duplicate elements from a list with out using set function.
lt1 = [1,4,5,2,1,4,85,9,6,5,6,2]
newlt = []
for i in lt1:           # here the iteration on the list is done till the last element.
  if i not in newlt :   # here the condition that the repeated elements shold not enter the new list is given
    newlt.append(i)     # here the function append is use to insert new and non repeating values are used.
print(newlt)            # printing the new list with no repeation .

[1, 4, 5, 2, 85, 9, 6]

--------------------- Dictionary ---------------------

In [1]:
# Dictionary : key : value pair
user_data = {
    "name":"jagat ",
    "age":"25",
    "phonenumber":"122233334567888"
    }
print(type(user_data))
print(user_data)
print(user_data["name"])
print(user_data["age"])
print(user_data["phonenumber"])
print()

# iteration on the dictionary.
for item in user_data:
  print(f"{item}:{user_data[item]}")


# use case of dictionary :
# no sql database => key ,value pair
# JSON
# configuration files
# twitter_id
std_data = {
    "name":"jagat ",
    "age":15,
    "phone":25648783542315489,
    "points":[10,20,30],
    "grade" :("A","B","C"),
    "subjects_marks":{
        "math":90,
        "sci":95,
        "eng":100
    }
}
#pritn the name of the student
print(std_data["name"])
#pritn the age of the student
print(std_data["age"])
#pritn the grade of the student
print(std_data["grade"])
#print all the subject marks
print(std_data["subjects_marks"])
#print all the subject marks
print(std_data["subjects_marks"]["sci"])  # here the dictionary under dictionary is call amd in the under dictionary science marks are
#print sum of all the subject marks
sum = 0
for sub in std_data["subjects_marks"]:
  print(sub,std_data["subjects_marks"][sub])
  sum = sum + std_data["subjects_marks"][sub]
print(sum)

<class 'dict'>
{'name': 'jagat ', 'age': '25', 'phonenumber': '122233334567888'}
jagat
25
122233334567888

name:jagat
age:25
phonenumber:122233334567888
jagat
15
('A', 'B', 'C')
{'math': 90, 'sci': 95, 'eng': 100}
95
math 90
sci 95
eng 100
285

In [ ]:
# lAB CODE = PFC31.1
# Task - 1
list1 = []
noe = int(input())
for i in range(noe):
  element = int(input())
  list1.append(element)
sum = 0
for i in list1:
  sum = sum + i
print(f"Sum of elements: {sum}")

4
2
3
4
5
Sum of elements: 14

In [4]:
# printing the reverse of a string .
def reverse(s):
  s = str(input("Enter a string: "))
  print(s[::-1])

reverse(6)

Enter a string: hjhdgfd
dfgdhjh

In [ ]:
def reverse(s):
  s = str(input())
  print(s[::-1])

reverse(1)

hello
olleh

In [ ]:
def count_occ(m):
  count = 0
  s = str(input("Enter the string:"))
  alp_cou = str(input("Enter the character to count:"))

  for i in s:
    if i == alp_cou :
      count = count + 1

  print(count)

count_occ(1)

Enter the string:fun programming hands on programming.
Enter the character to count:m
4